/* Estilo general para el formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
}

/* Estilo para los campos de entrada */
input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.1em;
}

/* Estilo para el botón de envío */
button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Estilo para el botón de envío al pasar el cursor */
button[type="submit"]:hover {
    background-color: #0062cc;
}
